<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.nexters.winepick">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- queries에 카카오톡 패키지 추가 -->
    <queries>
        <package android:name="com.kakao.talk" />
    </queries> <!-- queries에 카카오톡 패키지 추가 -->
    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:name=".WinePickApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.detail.WineDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.like.LikeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.type.TypeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.detail.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity> <!-- survey -->
        <activity
            android:name=".ui.survey.SurveyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.survey.SurveyResultActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android:intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- "kakao{YOUR_NATIVE_APP_KEY}://kakaolink" 형식의 앱 실행 스킴을 설정하는데 사용 -->
                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".example.java.normal.JavaDefaultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".example.kotlin.normal.KotlinDefaultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".example.java.viewmodel.JavaViewModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".example.kotlin.viewmodel.KotlinViewModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".ui.search.SearchFilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchFilterNoActionBar" />
    </application>

</manifest>
